{% extends "layouts/base.html" %}


{% block contenido %}

<header>
    <h1 class="text-center py-3">Vista Registro</h1>
</header>

<main class="container">
    <section>
        <div class="row">
            <div class="col">
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-primary" type="submit">Registrar usuario</button>
                </form>
            </div>
        </div>
    </section>
</main>

{% endblock contenido %}